{extends file='others.tpl'}
{block name=main}
<div class="page-header">
	<h1>Joint LeCosPA-FGCPA Mini-Workshop on Extreme Intensity Laser and Science<br><a href="img/miniworkshop_poster_2009_12.jpg" target="_blank" class="btn btn-info" role="button" style="margin-right: 2em;float: right;">Poster</a></h1>
</div>
<br>
<p><strong>December 17 (Thursday)</strong></p>
<table class="table-bordered" cellpadding="1" cellspacing="1" style="border-collapse: collapse; background-color: white; font-size: 18px; color: black;" width="96%" align="center">
<tr>
	<td width="80" style="background-color: #FBE4E4;">08:50-09:00</td>
	<td colspan="2">Pisin Chen <br>Welcome</td>
</tr>
<tr>
	<td style="background-color: #FBE4E4;">09:00-09:50</td>
	<td>
 Gerard Mourou (ENSTA, France)<br>
　“Towards Extreme Light Physics”
	</td>
	<td><button type="button" class="btn btn-info btn-sm"><a href="upload/200912_MiniWorkshop/20091217_01.pdf" target="_blank" style="color: white; text-decoration: none;">Slide Download</a></button></td>
</tr>
<tr>
	<td style="background-color: #FBE4E4;">09:50-10:40</td>
	<td>
 Sergey Bulanov (APRC, Japan)<br>
　“Fundamental Physics and Relativistic Astrophysics with Short Pulse High Power Lasers”
	</td>
	<td><button type="button" class="btn btn-info btn-sm"><a href="upload/200912_MiniWorkshop/20091217_02.pdf" target="_blank" style="color: white; text-decoration: none;">Slide Download</a></button></td>
</tr>
<tr>
	<td style="background-color: #FBE4E4;">10:40-11:10</td>
	<td colspan="2">Coffee Break</td>
</tr>
<tr>
	<td style="background-color: #FBE4E4;">11:10-12:00</td>
	<td>
 Antonio Ting (NRL, USA)<br>
　“Intense Laser Produced Plasma Cavitation -- Electro-optical Shock, Electron Acceleration, and Nonlinear Conversion of Spin
to Orbital Angular Momentum”
	</td>
	<td><button type="button" class="btn btn-info btn-sm"><a href="upload/200912_MiniWorkshop/20091217_03.pdf" target="_blank" style="color: white; text-decoration: none;">Slide Download</a></button></td>
</tr>
<tr>
	<td style="background-color: #FBE4E4;">12:00-14:00</td>
	<td style="background-color: #FBE9E9;" colspan="2">Lunch</td>
</tr>
<tr>
	<td style="background-color: #FBE4E4;">14:00-14:50</td>
	<td>
 Jyhpyng Wang (AS-IAMS, Taiwan)<br>
　“Progress of High-Field Physics at NCU and IAMS”
	</td>
	<td><button type="button" class="btn btn-info btn-sm"><a href="upload/200912_MiniWorkshop/20091217_04.pdf" target="_blank" style="color: white; text-decoration: none;">Slide Download</a></button></td>
</tr>
<tr>
	<td style="background-color: #FBE4E4;">14:50-15:40</td>
	<td>
 Szu-Yuan Chen (IAMS and NCU, Taiwan)<br>
　“Development of Laser Wakefield Electron Accelerator and its Derivatives of Photon Sources”
	</td>
	<td><button type="button" class="btn btn-info btn-sm"><a href="upload/200912_MiniWorkshop/20091217_05.pdf" target="_blank" style="color: white; text-decoration: none;">Slide Download</a></button></td>
</tr>
<tr>
	<td style="background-color: #FBE4E4;">15:40-16:10</td>
	<td colspan="2">Coffee Break</td>
</tr>
<tr>
	<td style="background-color: #FBE4E4;">16:10-17:00</td>
	<td>
 Yen-Chieh Huang (NTHU, Taiwan)<br>
　“Activities at NTHU High-Energy Optics and Electronics Lab”
	</td>
	<td><button type="button" class="btn btn-info btn-sm"><a href="upload/200912_MiniWorkshop/20091217_06.pdf" target="_blank" style="color: white; text-decoration: none;">Slide Download</a></button></td>
</tr>
<tr>
	<td style="background-color: #FBE4E4;">17:10-18:00</td>
	<td colspan="2">Round Table Discussion</td>
</tr>
<tr>
	<td style="background-color: #FBE4E4;">18:30-20:30</td>
	<td style="background-color: #FBE9E9;" colspan="2">Dinner at Ting Tai Feng Restaurant</td>
</tr>
</table>

<br>
<p><strong>December 18 (Friday)</strong></p>

<table class="table-bordered" cellpadding="1" cellspacing="1" style="border-collapse: collapse; background-color: white; font-size: 18px; color: black;" width="96%" align="center">
<tr>
	<td width="80" style="background-color: #FBE4E4;">09:00-09:50</td>
	<td colspan="2">
Kuan-Ren Chen (NCKU, Taiwan)<br>
　“Focusing of light beyond the conventional limit of diffraction in
the intermediate zone”<br>
<br>
The file is not available. Please contact with the speaker.<br>
E-mail：<a href="mailto:chenkr@mail.ncku.edu.tw">chenkr@mail.ncku.edu.tw</a><br>
	</td>
</tr>
<tr>
	<td style="background-color: #FBE4E4;">09:50-10:20</td>
	<td colspan="2">
 Pisin Chen (NTU, Taiwan)<br> 
 　“Extreme Light for Extreme Universe”
	</td>
</tr>
<tr>
	<td style="background-color: #FBE4E4;">10:20-10:50</td>
	<td>
 Hideaki Takabe (ILE, Japan)<br> 
 　“Model expermeriment of collisioless shock formation with self-organized magnetic field and study of the rigin of cosmic raywith wake-field acceleration”
	</td>
	<td><button type="button" class="btn btn-info btn-sm"><a href="upload/200912_MiniWorkshop/20091218_03.pdf" target="_blank" style="color: white; text-decoration: none;">Slide Download</a></button></td>
</tr>


<tr>
	<td style="background-color: #FBE4E4;">10:50-11:00</td>
	<td colspan="2">Coffee Break</td>
</tr>
<tr>
	<td style="background-color: #FBE4E4;">11:00-12:00</td>
	<td colspan="2">
Round Table Discussion
	</td>
</tr>
<tr>
	<td style="background-color: #FBE4E4;">12:00-14:00</td>
	<td style="background-color: #FBE9E9;" colspan="2">Lunch</td>
</tr>
<tr>
	<td style="background-color: #FBE4E4;">14:00-15:00</td>
	<td colspan="2">
Meeting with NSC Director Luo-Chuan Lee
	</td>
</tr>
<tr>
	<td style="background-color: #FBE4E4;">15:30-17:30</td>
	<td colspan="2">Round Table Discussion</td>
</tr>
<tr>
	<td style="background-color: #FBE4E4;">18:30-20:30</td>
	<td style="background-color: #FBE9E9;" colspan="2">Banquet at Shin-Yeh Restaurant, Taipei 01</td>
</tr>
</table>

<br>
<p><strong>December 19 (Saturday)</strong></p>

<table class="table-bordered" cellpadding="1" cellspacing="1" style="border-collapse: collapse; background-color: white; font-size: 18px; color: black;" width="96%" align="center">
<tr>
	<td width="80" style="background-color: #FBE4E4;">09:00-15:00</td>
	<td>Excursion: Taipei City Tour	</td>
</tr>
</table>
<br>

{/block}
