{extends file='others.tpl'}
{block name=main}
<div class="page-header">
	<h1>Previous Mini-Workshop</h1>
</div>

<div class="row">
	<div class="col-sm-4">
		<div class="thumbnail">
			<div class="caption">
				<h3>First LeCosPA Mini-Workshop</h3>
				<h3>Dark Energy and Vacuum Structure</h3>
				<p style="text-align: right; color: gray;"><em>Dec. 2 - 4, 2008</em></p>
				<p style="text-align: center;"><a href="previous/miniworkshop_2008.php" class="btn btn-danger" role="button">More</a></p>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="thumbnail">
			<div class="caption">
				<h3>Second LeCosPA Mini-Workshop</h3>
				<h3>The Dark Matter Crisis</h3>
				<p style="text-align: right; color: gray;"><em>Jan. 10, 2009</em></p>
				<p style="text-align: center;"><a href="previous/miniworkshop_2009_1.php" class="btn btn-danger" role="button">More</a></p>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="thumbnail">
			<div class="caption">
				<h3>Joint LeCosPA Mini-Workshop</h3>
				<h3>Extreme Intensity Laser and Science</h3>
				<p style="text-align: right; color: gray;"><em>Dec. 17 - 19, 2009</em></p>
				<p style="text-align: center;"><a href="previous/miniworkshop_2009_2.php" class="btn btn-danger" role="button">More</a></p>
			</div>
		</div>
	</div>
</div>




{/block}
